@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Presets */

body {
    background: #000;
    color: #fff;
    font-family: "VT323" , monospace;
}

/* Header */

.header-list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.header-list .header-list-item {
    list-style-type: none;
    margin-right: 16px;
    font-size: 32px;
}

@media screen and (min-width: 768px) {
    .header-list .header-list-item {
        font-size: 48px;
    }    
}

.header-list .header-list-item:hover {
   border-bottom: 2px solid #fff;
   cursor: pointer;
}

.header-list .header-list-item a {
    text-decoration: none;
    color: #fff;
}

/* Content */

.content{
    margin-top: 80px;
}

@media screen and (min-width: 768px) {
    .content {
        margin-top: 160px;
    }
}

.content .container {
    margin: 0 auto;
    width: 100%;
    max-width: 280px;
}

@media screen and (min-width: 768px)  {
    .content .container {
        max-width: 1288px;
    }    
}

.title-area .title {
    font-weight: 400;
    font-size: 48px;
    text-align: center;

}

@media screen and (min-width: 768px) {
    .title-area .title {
        font-size: 64px;
    }
}


.info-area .info-text {
    font-size: 16px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .info-area .info-text {
        font-size: 24px;
    }
}


.play-area  {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.play-area .play-buttom {
    font-size: 24px;
    padding: 8px 16px;
    border: 1px solid #fff;

}

.play-area .play-buttom a {
    color: #fff;
}


/* play page*/

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label .input-text {
    font-size: 32px;
}

.input-zone input {
    padding: 16px 32px;
    background: #000;
    border: 3px solid #fff;
    font-family: "VT323" , monospace;
    font-size: 24px; 
    color: #fff;     
}

.input-zone input::placeholder {
    color: #fff;
}

.input-form button, button, .situation-inner-options button { 
    margin-top: 32px;
    background: #000;
    border: 3px solid #fff;
    padding: 0px 32px;
    color: #fff;
    font-family: "VT323" , monospace;
    font-size: 24px;
}

/* Rpg zone */

.rpg-zone {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rpg-zone div {
    max-width: 280px;
    margin: 0 auto;
}

@media screen and (min-width: 768px)  {
    .rpg-zone div {
        max-width: 1200px;
        margin: 0 auto;
    }
    
}

.rpg-zone p {
   font-size: 18px ;
}

@media screen and (min-width: 768px)  {
    .rpg-zone p {
       font-size: 24px;
    }
    
}

buttom:hover {
    cursor: pointer;
}

.hub {
    width: 100%;
}

.hub-inner {
    display: flex;
    justify-content: space-between;
}

.playerOptions {
    display: flex;
    flex-direction: column;
}

.playerOptions button {
    text-align: center;
}

.situation-inner-options {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .situation-inner-options {
        flex-direction: row;
    }
}